*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

.box-logo{
    display: flex;
    justify-content: center;
}

.img-logo{
    width: 150px;
    margin-top: 15px;
}

.box-title{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.text-title

.box-list{
    display: flex;
    justify-content: center;
  
}

.item-list{
    list-style: none;
    padding-left: 15px;
    padding-top: 15px;
}

